body{
    background-color: #FFF2CC !important;
}


.about-us{
    display: block;
    width: 300px;
    height: auto;
    max-width: 400px;
    margin: auto;
}

.click{
    display: block;
    text-align: center;
    font-style: italic;
    font-family: "Changa One", sans-serif;
}

.decor{
    color: #EA5455;
    font-family: "Playwrite AU VIC Guides", cursive;
    font-weight: 400;
    font-style: normal;
}

.de{
    color:#2D4059;

}

.ge{
    color: #2D4059;
}

.text{
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}

.text-two{
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
}

.unlock{
    width: 80px;
    height: 80px;
    display: block;
    margin: 20px auto 10px;   
    object-fit: contain; 
}

.card{
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;

}

.head-two{
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card-text{
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: Inter;
}

.chat{
    width: 80px;
    height: 80px;
    display: block;
    margin: 20px auto 10px;   
    object-fit: contain;
}

.card-text-two{
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: Inter;
}

.head-three{
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.book-half{
    width: 80px;
    height: 80px;
    display: block;
    margin: 20px auto 10px;
    object-fit: contain;
}

.head-four{
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card-text-three{
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: Inter;
}

.grad-hat{
    width: 80px;
    height: 80px;
    display: block;
    margin: 20px auto 16px;
    object-fit: contain;
}

.head-five{
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card-text-four{
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: Inter;
}

.story{
    display: flex;
    justify-content: center;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    
}

.story-img{
    width: 480px;
    height: auto;
    margin-bottom: 0;
    margin-top: -50px;
}

.Our-Story{
    display: flex;
    align-items: flex-start;
    padding: 20px 40px;
}

.story-text{
    flex: 1;
    padding-right: 10px;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: Inter;
    font-size: 25px;
    padding-top: 80px;
}
