.carousel {
    height: 70vh;       
}

.carousel-inner,
.carousel-item {
    height: 100%;        
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;       
    object-position: center center;
}

.carousel-item:nth-child(5) img {
    object-position: center 50%;
}

.carousel-item:nth-child(2) img {
    object-fit: cover;
    object-position: center 25%;
}

.carousel-item:nth-child(3) img{
    object-fit: cover;
    object-position: center 15%;
    
}

.carousel-item:nth-child(4) img{
    object-fit: cover;
    object-position: center 25%;
}

.navbar{
    background-color: #FFD460 !important;
}

.container-one{
    background-color: #FADA7A;
}

.deu{
    color: #2D4059;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lern{
    color: #EA5455;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.carousel-caption h5{
    font-family: "Lexend Zetta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    line-height: 1;
}

.carousel-caption p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    line-height: 1;
}

.card-header{
    background-color: #FFD460;

}

.card-header h4{
    color: #2D4059;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;

}

.card-body{
    background-color: #FFEBA8;
}

.list-unstyled{
    color: #EA5455;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
