.form-style{
    border: 2px solid #dee2e6;
    border-radius: 16px;
}

h1{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

label{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.but-style{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
