.wel{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.but{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.box{
    background-color: #FFD93D;
}

label{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-decora{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

input.form-control:focus{
    border: 2px solid #FFD93D !important;
    border-radius: 3px;
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5)
}


.btn-primary{
  --bs-btn-bg: #FFD93D;
  --bs-btn-border-color: #FFD93D;
  --bs-btn-hover-bg: #2B2A28;
  --bs-btn-hover-border-color: black;
}


body{
    width: 100%;
    height: 100%;
    --s: 65px; 
    --c1: #dadee1;
    --c2: #4a99b4;
    --c3: #9cceb5;

    --_c: 75%, var(--c3) 52.72deg, #0000 0;
    --_g1: conic-gradient(from -116.36deg at 25% var(--_c));
    --_g2: conic-gradient(from 63.43deg at 75% var(--_c));
    background: var(--_g1), var(--_g1) calc(3 * var(--s)) calc(var(--s) / 2),
    var(--_g2), var(--_g2) calc(3 * var(--s)) calc(var(--s) / 2),
    conic-gradient(
    var(--c2) 63.43deg,
    var(--c1) 0 116.36deg,
    var(--c2) 0 180deg,
    var(--c1) 0 243.43deg,
    var(--c2) 0 296.15deg,
    var(--c1) 0
    );
  background-size: calc(2 * var(--s)) var(--s);
}

.border-style {
    position: relative;
    display: inline-block;
}

.border-style::before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;  
    left: -22px;    
    right: -22px;
    z-index: -1;
    border-radius: 1rem;
    background: linear-gradient(135deg, #ff5f6d, #ffc371, #47cf73, #2193b0);
}

