.wel{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.but{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.box{
    background-color: #FFD93D;
}

label{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-decora{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

input.form-control:focus{
    border: 2px solid #FFD93D !important;
    border-radius: 3px;
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5)
}


.btn-primary{
  --bs-btn-bg: #FFD93D;
  --bs-btn-border-color: #FFD93D;
  --bs-btn-hover-bg: #2B2A28;
  --bs-btn-hover-border-color: black;
}
