html{
    background-color:#F8F5EE;
}
h1{
    color: #E6C76A;}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F8F5EE;
}

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    border-radius: 0;         
    overflow: hidden;
}

.changa-one-regular{  
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 10px;
}

.info {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    right:0px;
    z-index: 1000;
    padding: 4px 8px;
    background-color:#F5DEB3;
    border-radius: 0 0 12px 12px;
    padding: 4px 16px;
}

.deu{
    color: #000000;
}
.lern{
    color: #DD0000;
}

.navbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 40px;  
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: italic;
    position: absolute;
    top: 150px;
    left: 270px;
    right: 0px;
    z-index: 1001;
}

.nav-links {
    display: flex;          
    list-style: none;       
    gap: 20px;             
    padding: 0;             
    margin: 0;              
}
.nav-links a {
    text-decoration: none;  
    color: #6C76A1;         
    font-family: sans-serif;
    font-weight: bold;
}
.nav-links a.active {
    text-decoration: none;
    color: #d4b659;         
    
}

.bottom-down{
    margin: auto;
}

.bottom-page{
    display: flex;
    gap: 10px;
    padding: 20px 40px;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #8A9BB0;
    z-index: 1001;
    border-radius: 0 0 12px 12px;
    padding:12px 40px;

}

.bottom-page a {
    text-decoration: none;
    color: #465596;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: italic;
}

