<%- include('partials/header',{title: 'Vocabulary', pageCss: "vocab.css"})  %>

<div class="d-flex justify-content-md-end align-items-md-center">
    <div class="dropdown mt-3 me-3">
        <button class="btn btn-outline-danger dropdown-toggle but-select" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            A1 Level
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">A2 Level</a></li>
            <li><a class="dropdown-item" href="#">B1 Level</a></li>
        </ul>
    </div>
</div>



            <!-- 1st category of vocabulary topics -->
<div class="d-flex justify-content-md-evenly align-items-md-center mt-5">

    <div class="card text-center shadow-sm border-3 rounded-4" style="width: 18rem;border-color: #2D4059;">
        <div class="d-flex justify-content-center mt-4">
            <div class="rounded-circle p-3"style="width: 190px; height: 190px;background-color: #53657A;">
                <img src="/images/Vocabulary-images/public-speaking.svg" class="img-fluid" alt="Travel" style="width: 145px; height: 145px; object-fit: cover; transform: scale(1.6);border-radius: 30%;">
            </div>
        </div>

        <div class="card-body">
            <h3 class="card-title fw-bold">Persönliche und Angaben</h3>
            <h5 class="text-primary english-sub-heading-font">Personal Information</h5>
            <p class="card-text text-muted">
                Learn how to tell your identity, age, nationality, address.
            </p>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <span>📖 15 Wörter</span>
                <span class="badge bg-primary-subtle text-primary rounded-pill">A1</span>
            </div>

            <a href="/personalInfo" class="btn btn-outline-custom-one w-100 rounded-3"> Learn Now →</a>
        </div>
    </div>

    <div class="card text-center shadow-sm border-3 rounded-4" style="width: 18rem; border-color:#EA5455;">
         <div class="d-flex justify-content-center mt-4">
            <div class="rounded-circle p-3"style="width: 190px; height: 190px;background-color: #F38B8D;">
                <img src="/images/Vocabulary-images/family-relations.svg" class="img-fluid" alt="Travel" style="width: 145px; height: 145px; object-fit: cover; transform: scale(1);border-radius: 30%;">
            </div>
        </div>

        <div class="card-body">
            <h3 class="card-title fw-bold">Familie und Beziehungen</h3>
            <h5 class="text-primary english-sub-heading-font">Family & Relationships</h5>
            <p class="card-text text-muted">
                Learn how about your family members and friends in German.
            </p>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <span>👨‍👩‍👧‍👦 15 Wörter</span>
                <span class="badge bg-primary-subtle text-primary rounded-pill">A1</span>
            </div>

            <a href="/famRelation" class="btn btn-outline-custom-two w-100 rounded-3"> Learn Now →</a>
        </div>
    </div>



    <div class="card text-center shadow-sm border-3 rounded-4" style="width: 18rem;border-color: #FFD460;">
        <div class="d-flex justify-content-center mt-4">
            <div class="rounded-circle p-3"style="width: 190px; height: 190px;background-color: #FFE47A;">
                <img src="/images/Vocabulary-images/house-halt.svg" class="img-fluid" alt="Travel" style="width: 145px; height: 145px; object-fit: cover; transform: scale(1.2);border-radius: 30%;">
            </div>
        </div>

        <div class="card-body">
            <h3 class="card-title fw-bold">Haus und<br> Haushalt</h3>
            <h5 class="text-primary english-sub-heading-font">Home & Household</h5>
            <p class="card-text text-muted">
                Learn what are the things called in home and kitchen.
            </p>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <span>🏠 15 Wörter</span>
                <span class="badge bg-primary-subtle text-primary rounded-pill">A1</span>
            </div>

            <a href="/houseHold" class="btn btn-outline-custom-three w-100 rounded-3"> Learn Now →</a>
        </div>
    </div>
</div>




                            <!-- 2nd category of vocabulary topics -->
                            
<div class="d-flex justify-content-md-evenly align-items-md center" style="margin-top: 250px;">
    <div class="card-grp-two">
    <div class="card text-center shadow-sm border-3 rounded-4 h-100" style="width: 18rem; border-color: #b1b5ee;">
        <div class="d-flex justify-content-center mt-4">
            <div class="rounded-circle p-3" style="width: 190px; height: 190px;background-color: #b1b5ee;">
                <img src="/images/Vocabulary-images/food-drinks.svg" class="img-fluid" alt="Travel" style="width: 145px; height: 145px; object-fit: cover; transform: scale(1.2);border-radius: 30%;">
            </div>
        </div>

        <div class="card-body d-flex flex-column">
            <h3 class="card-title fw-bold">Essen und<br> Getränke</h3>
            <h5 class="text-primary english-sub-heading-font">Food & Drinks</h5>
            <p class="card-text text-muted">
                Learn about foods and drinks in German.
            </p>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <span>🍔 15 Wörter</span>
                <span class="badge bg-primary-subtle text-primary rounded-pill">A1</span>
            </div>

            <a href="/food" class="btn btn-outline-custom-four w-100 rounded-3 mt-auto"> Learn Now →</a>
        </div>
    </div>
    </div>

    <div class="card-grp-two">
    <div class="card text-center shadow-sm border-3 rounded-4 h-100" style="width: 18rem; border-color: #6C63FF;">
        <div class="d-flex justify-content-center mt-4">
            <div class="rounded-circle p-3" style="width: 190px; height: 190px;background-color: #817AFF;">
                <img src="/images/Vocabulary-images/shopping-clothes.svg" class="img-fluid" alt="Travel" style="width: 145px; height: 145px; object-fit: cover; transform: scale(1.2);border-radius: 30%;">
            </div>
        </div>

        <div class="card-body d-flex flex-column">
            <h3 class="card-title fw-bold">Einkaufen und Kleidung</h3>
            <h5 class="text-primary english-sub-heading-font">Shopping & Clothings</h5>
            <p class="card-text text-muted">
                Learn about the colthes and shopping realted stuff
            </p>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <span>🛍️ 15 Wörter</span>
                <span class="badge bg-primary-subtle text-primary rounded-pill">A1</span>
            </div>

            <a href="/shopping" class="btn btn-outline-custom-five w-100 rounded-3 mt-auto"> Learn Now →</a>
        </div>
    </div>
    </div>

    <div class="card-grp-two">
    <div class="card text-center shadow-sm border-3 rounded-4 h-100" style="width: 18rem; border-color: #3b82f6;">
        <div class="d-flex justify-content-center mt-4">
            <div class="rounded-circle bg-primary-subtle p-3" style="width: 190px; height: 190px;">
                <img src="/images/Vocabulary-images/travel-holiday.svg" class="img-fluid" alt="Travel" style="width: 145px; height: 145px; object-fit: cover; transform: scale(1.2);border-radius: 30%;">
            </div>
        </div>

        <div class="card-body d-flex flex-column">
            <h3 class="card-title fw-bold">Reisen und<br> Urlaub</h3>
            <h5 class="text-primary english-sub-heading-font">Travel & Holidays</h5>
            <p class="card-text text-muted">
                Learn about the things which you can say on your next holiday
            </p>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <span>🛫 15 Wörter</span>
                <span class="badge bg-primary-subtle text-primary rounded-pill">A1</span>
            </div>

            <a href="/travel" class="btn btn-primary w-100 rounded-3 mt-auto"> Learn Now →</a>
        </div>
    </div>
    </div>


</div>


                                <!-- 3rd category of vocabulary topics -->


<div class="d-flex justify-content-md-evenly align-items-md center" style="margin-top: 150px;">
    <div class="card-grp-two">
        <div class="card text-center shadow-sm border-3 rounded-4" style="width: 18rem; border-color: #7efd3c;">
            <div class="d-flex justify-content-center mt-4">
                <div class="rounded-circle p-3" style="width: 190px; height: 190px;background-color: #C9F7AE;">
                    <img src="/images/Vocabulary-images/city-transport.svg" class="img-fluid" alt="Travel" style="width: 145px; height: 145px; object-fit: cover; transform: scale(1);border-radius: 30%;">
                </div>
            </div>

            <div class="card-body">
                <h3 class="card-title fw-bold">Verkehr und<br> Stadt</h3>
                <h5 class="text-primary english-sub-heading-font">Transport & City</h5>
                <p class="card-text text-muted">
                Learn about the transporation systems and directions
                </p>

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <span>🚌 15 Wörter</span>
                    <span class="badge bg-primary-subtle text-primary rounded-pill">A1</span>
                </div>

                <a href="/transport" class="btn btn-outline-custom-six w-100 rounded-3"> Learn Now →</a>
            </div>
        </div>
    </div>
   
    <div class="card-grp-two">
        <div class="card text-center shadow-sm border-3 rounded-4" style="width: 18rem;border-color: #b5f393;">
            <div class="d-flex justify-content-center mt-4">
                <div class="rounded-circle p-3" style="width: 190px; height: 190px;background-color: #C9F7AE;">
                    <img src="/images/Vocabulary-images/work-office.svg" class="img-fluid" alt="Travel" style="width: 145px; height: 145px; object-fit: cover; transform: scale(1.2);border-radius: 30%;"">
                </div>
            </div>

            <div class="card-body">
                <h3 class="card-title fw-bold">Arbeit und<br> Berufe</h3>
                <h5 class="text-primary english-sub-heading-font">Work & Professions</h5>
                <p class="card-text text-muted">
                    Learn about the things present in at an workplace
                </p>

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <span>💼 15 Wörter</span>
                    <span class="badge bg-primary-subtle text-primary rounded-pill">A1</span>
                </div>

                <a href="/workProf" class="btn btn-outline-custom-seven w-100 rounded-3"> Learn Now →</a>
            </div>
        </div>
    </div>
     

    <div class="card-grp-two">
        <div class="card text-center shadow-sm border-3 rounded-4" style="width: 18rem;border-color: #98d2ac;">
            <div class="d-flex justify-content-center mt-4">
                <div class="rounded-circle p-3" style="width: 190px; height: 190px;background-color: #B6E2C5;">
                    <img src="/images/Vocabulary-images/school-university.svg" class="img-fluid" alt="Travel" style="width: 145px; height: 145px; object-fit: cover; transform: scale(1.1);border-radius: 30%;"">
                </div>
            </div>

            <div class="card-body">
                <h3 class="card-title fw-bold">Schule und Universität</h3>
                <h5 class="text-primary english-sub-heading-font">School & University</h5>
                <p class="card-text text-muted">
                    Learn about the things which are there in school and universites
                </p>

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <span>🎓 15 Wörter</span>
                    <span class="badge bg-primary-subtle text-primary rounded-pill">A1</span>
                </div>

                <a href="/schoolUni" class="btn btn-outline-custom-eight w-100 rounded-3"> Learn Now →</a>
            </div>
        </div>
    </div>
    

</div>



<%- include('partials/footer', { pageJs: 'vocab.js' }) %>
