html, body {
  height: 100%;
  margin: 0;
}


h3 ,h1{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}


.nav-link{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
}

.lead-footer{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: 10px;
}


.lead{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.box-style{
    position: relative;
}

.box-style::before{
    content: "";
    position: absolute;
    inset: -4px;
    background: linear-gradient(135deg, #ff5f6d, #ffc371, #47cf73, #2193b0);
    z-index: -1;
    border-radius: inherit;
    filter: blur(20px);
}


.wrapper-one{
    position: relative;
    border-radius: 30px;
    z-index: 1;
}

.wrapper-one::before{
    --angle: 0deg;
  content: '';
  position: absolute;
  inset: -6px;
  background: conic-gradient(from var(--angle), #ff9a9e, #fecfef, #ffd452, #f6a623);
  z-index: -1;
  border-radius: inherit;
  filter: blur(20px);
  animation: fadeIn 5s linear infinite;
}


@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


@keyframes fadeIn{
      0%,100%  {               
        opacity: 0.1;
    }

    50%{
        opacity: 1;
    }
}
/* Now here 0 and 100% means that at the start and end of the animation the opacity is the same and when it reaches 50% it becomes less transparent opacity menas transparent - ness */


.wrapper-two{
    position: relative;
    border-radius: 30px;
    z-index: 1;
}

.wrapper-two::before{
    --angle: 0deg;
  content: '';
  position: absolute;
  inset: -6px;
  background: conic-gradient(from var(--angle), #84fab0, #8fd3f4, #a78bfa, #c9a0ff);
  z-index: -1;
  border-radius: inherit;
  filter: blur(20px);
  animation: fadeIn 5s linear infinite;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes fadeIn{
    0%,100%{
        opacity: 0.2;
    }

    50%{
        opacity: 1;
    }
}


.wrapper-three{
    position: relative;
    border-radius: 30px;
    z-index: 1;
}

.wrapper-three::before{
  --angle:0deg;
  content: '';
  position: absolute;
  inset: -6px;
  background: conic-gradient(from var(--angle), #fbc2eb, #ffd452, #a1c4fd, #c2e9fb);
  z-index: -1;
  border-radius: inherit;
  filter: blur(20px);
  animation: fadeIn 5s linear infinite;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes fadeIn{
    0%,100%{
        opacity: 0.2;
    }

    50%{
        opacity: 1;
    }
}


.card{
    transform: scale(1);
    transition: transform 0.5s ease;
    border-radius: inherit;
}
.card:hover{
    transform: scale(1.1);
    
}
/* Now here we basically made the hover fo the cards more smooth by applying transition on transform  */

body {
  width: 100%;
  height: 100%;
  --size: 80px;
  --color1: #c8b6ff;
  --color2: #b8f2e6;
  --color3: #ffd6ff;
  --cone: #6d597a;

  background: radial-gradient(circle at 50% 30%, transparent 30%, var(--color1) 31%),
    radial-gradient(circle at 30% 70%, transparent 30%, var(--color2) 31%),
    radial-gradient(circle at 70% 70%, transparent 30%, var(--color3) 31%),
    linear-gradient(to bottom, var(--cone) 50%, transparent 50%);
  background-size: var(--size) var(--size);
}

.button-style-one{
    transition: all 0.3s ease;
}

.button-style-one:hover{
    transform: scale(0.9) translateY(-7px);
    background: linear-gradient(135deg, #ff9a9e, #fecfef, #ffd452, #f6a623);
}


.button-style-two{
    transition: all 0.3s ease;
}

.button-style-two:hover{
    transform: scale(0.9) translateY(-7px);
    background: linear-gradient(135deg, #84fab0, #8fd3f4, #a78bfa, #c9a0ff);
}


.button-style-three{
    transition: all 0.3s ease;
}

.button-style-three:hover{
    transform: scale(0.9) translateY(-7px);
    background: linear-gradient(135deg, #fbc2eb, #ffd452, #a1c4fd, #c2e9fb);
}

.button-style{
    transition: all 0.3s ease;
    border-color: #EABDE6;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button-style:hover{
    transform: scale(1.1) translateY(-7px);
    background: linear-gradinet(135deg,
    #FFDBFD 0%,
    #EFD4FF 18%,
    #DCCBFF 36%,
    #C9BEFF 50%,
    #DCCBFF 64%,
    #EFD4FF 82%,
    #FFDBFD 100%);

}

